= render partial: 'event_mailer/shared/chunk_of_code_part', collection: line['context']['pre'], as: :line
pre.code-snippet-main-line = line['code']
= render partial: 'event_mailer/shared/chunk_of_code_part', collection: line['context']['post'], as: :line
