= render partial: 'event_mailer/shared/chunk_of_code_part', collection: trace_line['context']['pre'], as: :code_line
pre = trace_line['code']
= render partial: 'event_mailer/shared/chunk_of_code_part', collection: trace_line['context']['post'], as: :code_line
